In [1]:
import pandas as pd

In [2]:
merged = pd.read_excel("final_data/Merged_Final.xlsx", index_col = 0)
merged.head()

,State,Postcode,Fips,Date,Pct_Anxiety,Pct_Depression,Pct_Anxiety_Or_Depression,New_Cases,New_Deaths,Cum_Cases,Cum_Deaths,Pct_Infection,Pct_Mortality,Gdp_Change,Income_Change,Adjusted_Income_Change,Farm_Income_Change,Nonfarm_Income_Change,Pct_Unemployed,Population
0,Alabama,AL,1000.0,2020-04,25.600,18.600000,30.300,6069,258,6069,258,0.120797,0.005135,-29.5,8.6,8.7,9.3,(NM),13.7,5024115.0
1,Alabama,AL,1000.0,2020-05,26.175,22.850000,30.525,10884,358,10884,358,0.216635,0.007126,-29.5,8.6,8.7,9.3,(NM),10.4,5024115.0
2,Alabama,AL,1000.0,2020-06,32.500,27.100000,37.225,20093,320,20093,320,0.399931,0.006369,-29.5,8.6,8.7,9.3,(NM),8.7,5024115.0
3,Alabama,AL,1000.0,2020-07,36.400,30.566667,41.000,49678,630,49678,630,0.988150,0.012531,42.5,-4.1,-4.0,-4.2,(NM),7.7,5027375.0
4,Alabama,AL,1000.0,2020-08,30.600,27.700000,37.200,38335,602,38335,602,0.762525,0.011974,42.5,-4.1,-4.0,-4.2,(NM),6.6,5027375.0

In [3]:
health = pd.read_excel("final_data/Health_Final.xlsx", index_col = 0)
health.head()

,Group,State,Subgroup,Date,Pct_Anxiety,Pct_Anxiety_Or_Depression,Pct_Depression
0,By Age,United States,18 - 29 years,2020-04-29,40.2,46.8,32.7
1,By Age,United States,18 - 29 years,2020-05-09,42.0,47.4,36.2
2,By Age,United States,18 - 29 years,2020-05-16,38.6,47.7,36.7
3,By Age,United States,18 - 29 years,2020-05-23,39.1,46.6,36.7
4,By Age,United States,18 - 29 years,2020-05-30,42.2,49.3,36.8

In [4]:
policy = pd.read_excel("final_data/Policy_Final.xlsx", index_col = 0)
policy.head()

     State    Policy       Date      Policy_Category Policy_Stage
0  Alabama   STEMERG 2020-03-13   state_of_emergency        start
1  Alabama  VISITPER 2020-03-13        incarceration        start
2  Alabama  VISITATT 2020-03-13        incarceration        start
3  Alabama   TLHLMED 2020-03-16  healthcare_delivery        start
4  Alabama  WV_WTPRD 2020-03-16         unemployment        start